{% extends "base.html" %}

{% block  head %}
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css"/>
    <meta name="google-signin-client_id" content="702464249217-lr70ubu2cf3gk3gddva38g3nl8ejug79.apps.googleusercontent.com">
{% endblock %}

{% block js_files %}

	<script src="https://apis.google.com/js/platform.js" async defer></script>

{% endblock %}

{% block js %}

	function onSignIn(googleUser) {

        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
 	    console.log('Email: ' + profile.getEmail());
    };

    function onSignInOauth(googleUser) {

        var googleAuthData = {
            token: googleUser.getAuthResponse().id_token
        };

        $.post('/googleauth/', googleAuthData, function(data) {
            console.log(data);
            if(data.result == "error"){
                return;
            }
            window.location.href = "/";
        });
    };

{% endblock %}

{% block login %}login{% endblock %}

{% block body %}

  <article class="login">
        {% block text_box %}
            <h1>Deforestation Validation Tool</h1>
            <p>For using this application you need to sign in with your google account. Just press the button below and start contributing</p>
            <a class="sign_in" href="{{login_url}}">Sign in</a>
            <!--<div class="g-signin2" data-onsuccess="onSignInOauth" style="float:right;"></div><br/>-->
        {% endblock %}
  </article>

{% endblock %}